DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/routing_db
POSTGRES_USER=routinguser
POSTGRES_PASSWORD=routingpass
POSTGRES_DB=routing_db
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
